<main>
  <div class="container py-1">
    <h3 class="m-4">მომხმარებლის დეტალური გვერდი</h3>
    <app-form-view [formGroup]="formGroup" *ngIf="formGroup"></app-form-view>
    <button type="button" class="btn btn-primary m-3"
      (click)='UpdateUser()' [disabled]="formGroup.invalid">update</button>
    <div class="account-cont">
      <app-account-list></app-account-list>
      <button type="button" class="btn btn-primary m-3"
      [routerLink]="['accountAdd', id]">add account</button>
    </div>
  </div>
</main>
