<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TBC</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav m-3 ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">User</a>
          </li>
          <li class="nav-item"  routerLink="/account">
            <a class="nav-link"  routerLink="/account">Account</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
