<main>
  <div class="container ">
  <h3 class="m-3">ანგარიშის დამატება</h3>

    <form [formGroup]="accountForm">

      <div class="row mb-3">
        <label for="accountType" class="col-sm-2 col-form-label">accountType</label>
        <div class="col-sm-10">
          <select formControlName="accountType" class="form-select">
            <option [value]="null" hidden>Select AccountType</option>
            <option *ngFor="let accountType of accountTypeOptions" required>
              {{accountType}}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="currency" class="col-sm-2 col-form-label">currency</label>
        <div class="col-sm-10">
          <select formControlName="currency" class="form-select">
            <option [value]="null" hidden>Select Currency</option>
            <option *ngFor="let currency of currencyOptions" required>{{currency}}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="accountStatus" class="col-sm-2 col-form-label">accountStatus</label>
        <div class="col-sm-10">
          <select formControlName="accountStatus" class="form-select">
            <option [value]="null" hidden>Select AccountStatus</option>
            <option *ngFor="let accountStatus of accountStatusOptions" required>
              {{accountStatus}}
            </option>
          </select>
        </div>
      </div>

    </form>
    <div class="cont">
      <button type="button" class="btn btn-primary m-3" (click)='addAccount()'
      [disabled]="accountForm.invalid">Add Account</button>
    </div>
  </div>
</main>
